[*]
end_of_line = lf
insert_final_newline = true
indent_size = 4
indent_style = space
trim_trailing_whitespace = true

[*.{yaml,yml}]
indent_size = 2

[*.{py,pyx}]
charset = utf-8

[*.{cpp,h}]
charset = utf-8-bom
